# General
*.log
*.pyc
__pycache__/
.env

# Backend
backend/venv/
backend/notes.db

# Frontend
frontend/node_modules/
frontend/.env

# Keep frontend/build for deployment purposes
# Uncomment below if you want to ignore it:
# frontend/build/

# IDE/Editor
.vscode/
.idea/
.DS_Store

# OS Specific
Thumbs.db

